*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(59, 14, 23, 0.836);
}
#root {
  width: 100%;
  height: 100vh;
    h1,
    p {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(23, 0, 105);
      background-color: rgba(238, 176, 18, 0.815);
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 48px;
    }
      h1 {
        font-weight: 800;
      }
      p {
        font-weight: 200;
      }
    &.clicked {
      h1 {
        animation: spin 5s reverse infinite;
      }
      p {
        animation: spin 5s infinite;
      }
    }
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}